.admin-page-grid-container {
    grid-template-columns: repeat(3, 1fr);
}

.admin-page-button-row {
    grid-column: 1/4;
    text-align: center;
}

.admin-button {
    margin: 0px 8px;
    min-width: 150px;
}

.inactive-button {
    background-color: var(--eggShell);
    color: var(--cardinal)
}

.inactive-button:hover {
    background-color: var(--eggShell);
    color: var(--cardinal);
    cursor: default;
}