.edit-page-grid-container {
    grid-template-columns: repeat(4, 1fr);
}

.edit-page-title {
    font-size: 24px;
    grid-column: 1/4;
}

.edit-form-container {
    grid-column: 2/4;
    
}

.edit-field {
    font-size: 1.2em;
    min-width: 100%;
}

.image-form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 8px;
}

.image-label {
    cursor: pointer;
    background: var(--cardinal);
    color: var(--eggShell);
    border-radius: 15px;
    padding: 5px;
    margin-inline-end: 8px;
    text-align: center;
}

.image-label:hover {
    background: var(--cardinalShadow);
}

#image-form {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.edit-button {
    width: 100%;
    margin-top: 8px;
}

.promo-label { 
    margin-top: 8px
}