.top-product-grid-container {
    max-width: 1160px;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
}

.product-card-container {    
    padding: 24px 8px 16px;
    height: 392px;
    background-color: #fff;
    position: relative;
}

.product-card-image-container {
    height: 131px;
    
}

.product-card-title {
    font-size: 14px;
    line-height: 21px;
    color: var(--eerieBlack);
    text-decoration: none;
}

.product-card-lower-container {
    margin: 0;    
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 16px;
    left: 0;
}

.product-card-price {
    font-size: 20px;
    line-height: 24px;
    
}

.product-card-image {
    max-width: 100%;
    height: 131px;
}

.ranked-button {
    height: 32px;
    padding: 0px 8px;
    font-size: 12px;
}