.top-product-grid-container {
    max-width: 1160px;
    display:grid;
    margin: 10px auto;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
}

.product-card-container {    
    padding: 24px 8px 16px;
    height: 350px;
    background-color: #fff;
    position: relative;
    color: var(--eerieBlack);
    font-size: 16px;
}

.product-card-image-container {
    height: 131px;    
}

.product-card-title {
    font-size: 14px;
    line-height: 21px;
    color: var(--eerieBlack);
    text-decoration: none;
}

.product-card-lower-container {
    margin: 0;    
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 16px;
    left: 0;
}

.product-card-price {
    font-size: 20px;
    line-height: 24px;    
}

.product-card-image {
    max-width: 100%;
    height: 131px;
}

.view-options {
    font-size: 16px;
}

.promotion-card-container {    
    color: var(--eggShell);
    background-color: var(--cardinal);
    text-align: center;
}

.promotion-card-title-band {
    border-radius: 10px;
    background-color: var(--honeyYellow);
    color: var(--eerieBlack);
    margin: 15px;
}

.promotion-card-title-link {
    text-decoration: none;
    color: var(--eerieBlack);
    
}

.promotion-card-product-grid {
    max-width: 1160px;
    margin: 10px 100px;
    padding: 10px;
    display: grid;    
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
}

.promotion-card-title {
    font-size: 24px;
}

.promotion-card-description {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .top-product-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .page-title {
        grid-column: 1/3;
    }

    .promotion-card-container {
        grid-column: 1/3;
    }

    .promotion-card-product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .top-product-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .page-title {
        grid-column: 1/4;
    }

    .promotion-card-container {
        grid-column: 1/4;
    }

    .promotion-card-product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1140px) {
    .top-product-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .page-title {
        grid-column: 1/7;
    }

    .promotion-card-container {
        grid-column: 1/7;
    }

    .promotion-card-product-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}