@keyframes spin {
    to{transform: rotate(360deg);}
}

.loader {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    border-top: 8px solid rgba(173,52,62,1);
    border-left: 8px solid rgba(173, 52, 62, 1);
    border-top: 8px solid rgba(173, 52, 62, 0);

    animation: spin 0.575s infinite linear;
}