.login-page-grid-container {    
    grid-template-columns: repeat(2, 1fr);
    max-width: 480px;
    text-align: center;
}

.login-label {
    font-size: 1.2em;    
}

.login-field {
    grid-column: 1/3;
    font-size: 1.2em;
    min-width: 450px;
}

.login-title {
    grid-column: 1/3;
}

