.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    visibility: hidden;
    z-index: -1;
}

.show-modal {
    visibility: visible;
    z-index: 10;
}

.modal-container {
    background-color: var(--eggShell);
    padding: 12px 24px;
    border-radius: 24px;
    display: grid;
    gap: 10px;    
}

.add-to-basket-modal {
    grid-template-columns: repeat(3, 1fr);
}

.add-to-basket-modal-title {
    text-align: center;
    grid-column: 1/4;
}

.confirm-remove-item-modal {
    grid-template-columns: repeat(2, 1fr);
}

.confirm-remove-item-modal-title {
    text-align: center;
    grid-column: 1/3;
}