.order-page-grid-container {
    grid-template-columns: repeat(4, 1fr);
}

.order-page-title {
    font-size: 24px;
    grid-column: 1/4;
}

.order-items-container {
    grid-column: 1/4;
}

.order-item-group-container {
    padding: 8px;
}

.order-page-subtitle {
    font-size: 20px;
    grid-column: 1/4;
}

.order-summary-column {
    padding: 8px;    
    grid-template-columns: repeat(1, 1fr);
    grid-column: 4/5;
    grid-row: 2/3;
}

.order-summary-column-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid;
    margin-bottom: 8px;
}