.product-edit-page-grid-container {
    grid-template-columns: repeat(4, 1fr);
}

.product-edit-page-title {
    font-size: 24px;
    grid-column: 1/4;
}

.product-edit-form-container {
    grid-column: 2/4;
    
}

.product-edit-field {
    font-size: 1.2em;
    min-width: 95%;
}