.profile-page-grid-container {
    grid-template-columns: repeat(3, 1fr);
}

.profile-title {
    font-size: 24px;
    grid-column: 1/2;
}

.profile-field {
    font-size: 1.2em;
    min-width: 90%;
}

.orders-list-title{
    font-size: 24px;
    grid-row: 1/2;
    grid-column: 2/4;
}

.user-info-column-container {
    grid-column: 1/2;
    padding: 8px;
}

.user-orders-column-container {
    grid-column: 2/4;
}

.update-button {
    margin: 8px 0;
}

.logout-button {
    margin: 0px 8px;
}

thead {
    font-size: .875rem;
    line-height: 1.5;
    text-align: left;
}

table {
    width: 100%;
    margin-bottom: 1rem;
}

td {
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 8px;
}

th {
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, .05);
}
